{% extends 'base.html' %}
{% block head %}
<title>
    Profile Page
</title>

{% endblock %}

{% block content %}
<!-- Tab Menu -->
{%if current_user.is_provider==False%}
    <div class="tab">
        <button class="tablinks" onclick="location.href='/';"><div class="text-light">Home</div></button>
        <button class="tablinks" onclick="location.href='/search';"><div class="text-light">Search</div></button>
        <button class="tablinks " onclick="location.href='/currentA';"><div class="text-light">Current Appointments</div></button>
        <button class="tablinks" onclick="location.href='/myHistory';"><div class="text-light">My History</div></button>
        <button class ="tablinks " onclick= "location.href='/myProfile';"><div class="text-light">My Profile </div> </button>
        <button class="tablinks" onclick="location.href='/logout';"><div class="text-light">Logout</div></button>
    </div>
{%elif current_user.is_provider==True%}
    <div class="tab">
        <button class="tablinks" onclick="location.href='/';"><div class="text-light">Home</div></button>
        <button class="tablinks " onclick="location.href='/currentA';"><div class="text-light">Current Appointments</div></button>
        <button class ="tablinks " onclick= "location.href='/myProfile';"><div class="text-light">My Profile </div> </button>
        <button class="tablinks" onclick="location.href='/logout';"><div class="text-light">Logout</div></button>
    </div>
{%endif%}
<div style="padding: 50px">
<h3>
    {{centre.centre_name}}
</h3>
Location: {{centre.suburb}}<br>
Phone Number: {{centre.phone}}<br>
Description: {{centre.description}}<br>

Rating: {%if rating == None%} No ratings so far{%else%} {{rating}}/5 {%endif%}<br>

{%if current_user.is_provider==False%}
<br>
Provide rating!
<form  method="POST">
    <div >
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
    </div>
    <div style="margin: 10px 0px">
        <button type="submit">Rate</button>
    </div><br>
</form>

<br>
<h4>
    Services and Providers
</h4>
{%for key,value in centre.services_providers.items()%}
<h5>{{key}}</h5>
{%for i in value%}
<a href = {{ url_for('profile_provider',full_name=i.full_name) }}>{{i.full_name}}</a>
<button onclick="window.location.href='{{ url_for( 'book' , centre_name=centre.centre_name,full_name=i.full_name ) }}';">Book</button>
<br>
<br>
{%endfor%}
{% endfor %}

{%endif%}



{% endblock %}
